# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
*/build
*/bin

# Ignore JDTLS related stuff
.classpath
.project
.settings
*/.classpath
*/.project
*/.settings
